package component

import "github.com/my-pet-projects/collection/internal/view/component/ui"

// StylesAutocomplete renders an autocomplete for beer styles.
templ StylesAutocomplete(data StyleData) {
	@ui.AutoComplete(data.ToAutocompleteProps())
}
