package workspace

import "github.com/my-pet-projects/collection/internal/view/layout"

type UploadPage struct {
	Page
}

templ WorkspaceUploadPage(page UploadPage) {
	@layout.BaseLayout() {
		@UploadComponent()
	}
}

templ UploadComponent() {
	<div class="flex-1 px-10">
		<div>
			<div class="mb-6">
				<h1 class="border-b border-gray-400 pb-2 text-2xl font-semibold text-slate-800">Upload</h1>
			</div>
		</div>
		<app-upload></app-upload>
	</div>
}
