package component

import "github.com/my-pet-projects/collection/internal/view/component/shared"

// ErrorContainer renders the error container for brewery list.
templ ErrorContainer() {
	@shared.ErrorContainer("brewery-list-errors")
}
