package component

import "github.com/my-pet-projects/collection/internal/view/component/feedback"

// ErrorContainer renders the error container for brewery list.
templ ErrorContainer() {
	@feedback.ErrorContainer("brewery-list-errors")
}
